.bg-gray {
    background-color: #d6d5d5;
}
.title {
    text-align: center;
    font-size: 20px;
    font-weight: 650;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}
.data div {
    border-left: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}